/* header styles */
header {
    border: 1px solid red;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-item {
    list-style-type: none;
}

/* hero section styles */

/* footer styles */
footer {
    border: 1px solid green;
}
.contact-email p {
    display: inline-block;
}